extends partial/layout

block content
    fieldset.post-title
        span= '标题'
        if post
            input(name= title, value= post.title)
        else 
            input(name= title)
    fieldset.post-tag
        span= '标签'
        if post
            input(value= post.tags.toString())
        else 
            input
    fieldset.post-content
        p= '内容'
        if post
            textarea= post.content
        else 
            textarea
    button.submit= '保存'

    div#comments-wrapper 
        ul.comments
        img.comments-loading(src='/assets/images/loading.gif' width=150)
        button.load-more: a(href='#') Load More.
        
    script(src='/js/post-edit.js')    